@use './variables' as *;

$breakpoints: (
  'mobile': 640px,
  'pad': 768px,
  'desktop': 1024px,
);

@mixin respond-to($device) {
  @media screen and (max-width: map-get($breakpoints, $device)) {
    @content;
  }
}

@mixin heading-style {
  font-weight: 700;
  font-size: 2.175rem;
  color: $title-color;
  line-height: 1.5;
  margin-bottom: 10px;
}

@mixin minheading-style {
  font-weight: 700;
  font-size: 1.5rem;
  color: $text-color;
  line-height: 1.5;
}

@mixin subheading-style {
  font-weight: 700;
  font-size: 1.275rem;
  color: $title-color;
  line-height: 1.5;
}

@mixin paragraph-style {
  font-size: 1rem;
  color: $paragraph-color;
  line-height: 1.5;
  @content;
}

@mixin button-style(
  $bg-color: $primary-color,
  // 預設背景
  $text-color: $white-color,
  // 預設字色
  $padding: 8px 16px,
  // 預設 padding
  $font-size: 1rem // 預設字體大小
) {
  display: inline-block;
  padding: $padding;
  font-size: $font-size;
  font-weight: bold;
  border-radius: 12px;
  background-color: $bg-color;
  color: $text-color;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.5;
  }
  // 允許呼叫時自訂更多樣式
  @content;
}

@mixin overlay-base {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
