@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

// color
$primary-color: #6ec5c4;
$second-primary-color: #a1e6e5;
$secondary-color: #e9c5d3;
$tertiary-color: #f7e2a7;
$quaternary-color: #c9dce5;
$quinary-color: #d5b7dc;
$text-color: #231815;
$background-color: #f3f3f3;
$title-color: #333;
$paragraph-color: #666;
$white-color: #fff;
$opentime-color: #b37d91;
$tag-color:#5474a1;

//spacing
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 20px;
$space-xl: 24px;
$space-2xl: 32px;
$sapce-3xl: 36px;
$space-4xl: 40px;

//radius
$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 16px;
$radius-xl: 24px;
$radius-2xl: 32px;

// shadow
$shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.08);
$shadow-md: 0 2px 6px rgba(0, 0, 0, 0.12);
$shadow-lg: 0 4px 12px rgba(0, 0, 0, 0.16);


//toast
$toastify-success-color: darken($primary-color, 10%);
$toastify-error-color: #e05186;
$toastify-info-color: #6ba9c7;
$toastify-warn-color: #edd285;

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body .modal-open {
  overflow-y: hidden;
}
