@use './mixin';
@use './base';
@use './toast';
@use './auth-modal';

@import 'bootstrap-icons/font/bootstrap-icons.css';

@font-face {
  font-family: 'bootstrap-icons';
  src:
    url('bootstrap-icons/font/fonts/bootstrap-icons.woff2') format('woff2'),
    url('bootstrap-icons/font/fonts/bootstrap-icons.woff') format('woff');
  font-display: swap;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}
